/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Bold.otf") format("otf");
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

p {
    font-family: 'Hammersmithone';
}

a {
    color: #fff;
    text-decoration: none;
}

.splash {
    background-image: url(image_path("treehouse.jpg"));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 915px;
    z-index: 0;
    .calltoaction {
        padding-top: 400px;
    }
}

nav {
    z-index: 9;
    position: fixed;
    right: 0;
    width: 100%;
    box-shadow: 1px 1px 0.5px 0.5px #333;
    &.main {
        text-align: right;
        top: 0;
        height: 60px;
        line-height: 60px;
        color: #fff;
        background-color: #222;
        z-index: 99;
    }
}

ul li {
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    display: inline;
    text-align: center;
    text-decoration: none;
    margin: 0 35px;
    text-transform: uppercase;
}

h1 {
    font-family: "Cabin", "Open Sans";
    font-size: 60px;
    text-align: left;
    &.heading {
        color: #fff;
        z-index: 1;
    }
}

.separator {
    height: 550px;
    background-color: #222;
    padding-top: 80px;
    p {
        text-align: center;
        font-size: 20px;
        font-family: 'Hammersmithone';
        color: #fff;
        font-weight: 200;
    }
    .team {
        margin-top: 30px;
        p:nth-child(2) {
            font-size: 40px;
        }
    }
}

.icon {
    display: block;
    margin: 0 auto;
    padding: 3px;
    height: 100px;
    width: 100px;
    border: 5px #fff solid;
    border-radius: 50%;
}

.icons {
    display: block;
    margin: 40px auto 0;
}

.treehouse {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.buttons {
    display: block;
    text-align: center;
}

.custom-btn {
    width: 200px;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #333;
    display: inline-block;
    margin: 15px 15px 0 3px;
    padding: 15px 40px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .125s;
    -moz-transition: all .125s;
    -ms-transition: all .125s;
    transition: all .125s;
    &:hover {
        color: #aaa;
    }
}

.learn-btn {
    background-color: #f9f9f9;
    color: #000;
    &:hover {
        text-decoration: none;
        color: #999;
    }
    &:link {
        text-decoration: none;
    }
    &:visited,
    &:active {
        text-decoration: none;
        color: #000;
    }
}

.schematics-btn {
    background-color: #47a739;
    color: #fff;
    &:link {
        text-decoration: none;
    }
    &:visited,
    &:active {
        text-decoration: none;
        color: #fff;
    }
}

.schematics-btn:hover {
    text-decoration: none;
    color: #333;
}

.about {
    background-color: #fff;
    background-size: 100%;
    height: 900px;
    width: 100%;
    h1 {
        font-family: 'Cabin';
        font-weight: 700;
        color: #333;
        padding: 25px 0 10px 0;
        font-size: 50px;
        text-align: center;
    }
    .carousel {
        padding: 10px 0;
        height: 70%;
    }
    .carousel-inner {
        box-shadow: none;
    }
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
    .carousel-indicators li {
        border: 1px solid #000;
        z-index: 0;
    }
    .carousel-item img {
        display: float;
        margin: 30px auto 0;
        padding-top: 30px;
        height: 500px;
        width: 550px;
        border: 1px #d9d9d9 solid;
    }
    .shop-btn {
        background-color: #2f75de;
        width: 400px;
        margin-top: 0;
        &:link {
            text-decoration: none;
        }
        &:visited,
        &:active {
            text-decoration: none;
            color: #fff;
        }
        &:hover {
            text-decoration: none;
            color: #333;
        }
    }
}

.schematic {
    background: url(image_path('floor-plan.jpg'));
    background-size: 60%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.custom {
    height: 395px;
    background: url(image_path('draft.jpeg'));
    background-size: cover;
    background-position: bottom;
    color: #fff;
    h1 {
        font-family: 'Cabin';
        color: #fff;
        font-weight: 700;
        padding: 25px 0 10px 0;
        font-size: 50px;
        text-align: center;
    }
    p {
        font-family: 'Open Sans';
        font-weight: 400;
        text-align: center;
        font-size: 30px;
    }
    .em {
        font-size: 36px;
    }
}

.discover {
    background-image: url(image_path("discover.jpg"));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 915px;
}

.subscribe {
    height: 355px;
    background-color: #222;
    color: white;
    h1 {
        padding-top: 75px;
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.subscribe-form {
    font-family: 'Menlo';
    text-align: center;
    input[type="text"] {
        background: transparent;
        border: 1px #fff solid;
        padding: 12px 5px 10px 40px;
        color: #fff;
    }
    input[type="submit"] {
        background: transparent;
        border: 1px #fff solid;
        text-transform: uppercase;
        padding: 12px 15px 10px 15px;
        color: #fff;
    }
    textarea:focus,
    input:focus {
        outline: none;
    }
}

footer {
    position: relative;
    color: #ddd;
    height: 500px;
    background-color: #222;
    border-top: 1px #333 solid;
    ul {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    ul li {
        display: block;
        text-align: left;
        font-family: 'Helvetica Neue';
        font-weight: 300;
        text-transform: none;
        margin-left: 1px;
        &:first-child {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-left: 0;
        }
    }
    p {
        font-family: 'Open Sans';
    }
    .copyright {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
    }
}
